body {
      font-family: Arial, sans-serif, ;
      background-color: #00fdce;
      margin: 0;
      padding: 20px; 
}

h1{
      color: #000000;
      text-align: center;
      background-color: #51eed2;
      border-radius: 15px;
}

h6 {
      color: #7b1818;
      text-align: center;
}

.container{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 5px;
     flex-wrap: wrap;
     max-width: 800px;
     margin: 10px auto;
     background-color: #51eed2;
     border-radius: 10px;
     padding: 20px;
     box-shadow: 0 1px 10px rgba(219, 109, 109, 0.5);
     font-size: 32px;
     
}

.boton {
      display: inline-block;
      padding: 7px 20px;
      background-color: #00fdce;
      color: #000000;
      text-decoration: none;
      border-radius: 15px;
      transition: all 0.9s ease-in-out;
      margin-bottom: 5px;
      width: 400px;
}
li{
       list-style-type: none;
}
.boton:hover {
      background-color:#36f37f /*#c4269f*/;
      padding: 10px 20px;
}
/* estilos para los formularios #f6f1f1*/
input {
      width: 90%;
      padding: 15px;
      font-size: 20px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
}

#resp {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 90%;
      margin: 0 auto;
      color:rgb(0, 0, 0);
      background-color: rgb(220, 108, 108);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
      font-size: 16px;
    }
.botones{
      display: flex;
      justify-content:center;
      gap: 10px;
      margin-bottom: 5px;
     
}
.ocultar{
   visibility: hidden;
}

.index_1{
      text-align: center;
}

.imagen{
      justify-content: center
}


h2{
      color: #000000;
}
    
.imagen{
      background-color: red;
      justify-items: center;
}

h5{
      text-align: center;
      
}

.container1{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;
      max-width: 800px;
      margin: 10px auto;
      background-color: rgb(167, 14, 14);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0px 0px rgba(219, 109, 109, 0.5);
      font-size: 32px;
      
 }